In [1]:
import pandas as pd

file_path = "US_Accidents_March23.csv"  # CSV is in the same folder as this notebook

df_sample = pd.read_csv(file_path, nrows=50000)  # read first 50k rows
df_sample.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [2]:
df_sample.shape

(50000, 46)

In [3]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  object
 1   Source                 50000 non-null  object
 2   Severity               50000 non-null  int64
 3   Start_Time             50000 non-null  object
 4   End_Time               50000 non-null  object
 5   Start_Lat              50000 non-null  float64
 6   Start_Lng              50000 non-null  float64
 7   End_Lat                0 non-null      float64
 8   End_Lng                0 non-null      float64
 9   Distance(mi)           50000 non-null  float64
 10  Description            50000 non-null  object
 11  Street                 50000 non-null  object
 12  City                   50000 non-null  object
 13  County                 50000 non-null  object
 14  State                  50000 non-null  object
 15  Zipcode                49993 non-null  object
 16  Country                50000 non-null  object
 17  Timezone               49993 non-null  object
 18  Airport_Code           49993 non-null  object
 19  Weather_Timestamp      49734 non-null  object
 20  Temperature(F)         49544 non-null  float64
 21  Wind_Chill(F)          2497 non-null   float64
 22  Humidity(%)            49361 non-null  float64
 23  Pressure(in)           49694 non-null  float64
 24  Visibility(mi)         49474 non-null  float64
 25  Wind_Direction         49733 non-null  object
 26  Wind_Speed(mph)        41578 non-null  float64
 27  Precipitation(in)      3276 non-null   float64
 28  Weather_Condition      49397 non-null  object
 29  Amenity                50000 non-null  bool
 30  Bump                   50000 non-null  bool
 31  Crossing               50000 non-null  bool
 32  Give_Way               50000 non-null  bool
 33  Junction               50000 non-null  bool
 34  No_Exit                50000 non-null  bool
 35  Railway                50000 non-null  bool
 36  Roundabout             50000 non-null  bool
 37  Station                50000 non-null  bool
 38  Stop                   50000 non-null  bool
 39  Traffic_Calming        50000 non-null  bool
 40  Traffic_Signal         50000 non-null  bool
 41  Turning_Loop           50000 non-null  bool
 42  Sunrise_Sunset         50000 non-null  object
 43  Civil_Twilight         50000 non-null  object
 44  Nautical_Twilight      50000 non-null  object
 45  Astronomical_Twilight  50000 non-null  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 13.2+ MB

In [4]:
(df_sample.isna().mean() * 100).sort_values(ascending=False)

End_Lng                  100.000
End_Lat                  100.000
Wind_Chill(F)             95.006
Precipitation(in)         93.448
Wind_Speed(mph)           16.844
Humidity(%)                1.278
Weather_Condition          1.206
Visibility(mi)             1.052
Temperature(F)             0.912
Pressure(in)               0.612
Wind_Direction             0.534
Weather_Timestamp          0.532
Timezone                   0.014
Zipcode                    0.014
Airport_Code               0.014
City                       0.000
Street                     0.000
Description                0.000
County                     0.000
Start_Lng                  0.000
End_Time                   0.000
Start_Lat                  0.000
Source                     0.000
ID                         0.000
Start_Time                 0.000
Severity                   0.000
Distance(mi)               0.000
Country                    0.000
State                      0.000
Amenity                    0.000
Bump                       0.000
Crossing                   0.000
Give_Way                   0.000
Junction                   0.000
No_Exit                    0.000
Railway                    0.000
Roundabout                 0.000
Station                    0.000
Stop                       0.000
Traffic_Calming            0.000
Traffic_Signal             0.000
Turning_Loop               0.000
Sunrise_Sunset             0.000
Civil_Twilight             0.000
Nautical_Twilight          0.000
Astronomical_Twilight      0.000
dtype: float64